:root {
	--primary-color: #c72727;
	--secondary-color: #f99500;
	--light-color: #f3f3f3;
	--dark-color: #333;
	--mainSpacing: 3px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
	overflow-x: hidden;
}

.btn-danger {
	background-color: var(--primary-color) !important;
	transition: all 1s ease-in;
}

.btn-danger:hover {
	background-color: #790e0e !important;
}

.btn-danger:focus {
	outline: none !important;
}

.section-title {
	text-align: center;
	margin-bottom: 4rem;
}

.section-title h4 {
	font-size: 2rem;
	letter-spacing: var(--mainSpacing);
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.section-title div {
	width: 5rem;
	height: 5px;
	margin: 0 auto;
	background: var(--primary-color);
}

.banner {
	display: inline-block;
	background: rgba(0, 0, 0, 0.7);
	color: var(--light-color);
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

/* Hero and banner */
.banner h1 {
	font-size: 2.5rem;
}

.banner p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.jumbotron {
	color: var(--light-color);
	background: var(--dark-color);
	position: relative;
	width: 100vw;
}

.jumbotron:before {
	content: '';
	background: url('./img/two-women-who-code.jpg') no-repeat center center/cover;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

@media (min-width: 1025px) {
	.jumbotron {
		height: 80vh;
	}
}
@media screen and (min-width: 576px) {
	.banner {
		padding: 2rem 3rem;
	}

	.banner h1 {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 992px) {
	.banner {
		padding: 2rem 6rem;
	}

	.banner h1 {
		font-size: 4rem;
	}
}

/* Single Course Page */
.single-course {
	padding: 5rem 0 0 0;
}

.single-course-info {
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr;
	margin: 2rem auto;
}

.desc,
.info {
	margin: 1rem 0;
}

.desc h3 {
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.desc p {
	line-height: 1.5;
}

.info h3,
.info p {
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.info h6 {
	font-weight: 600;
}

.courses-tags {
	width: 80vw;
	margin: 0 auto 3rem auto;
}

.courses-tags h4 {
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
}

.tags {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 1rem;
}

@media screen and (min-width: 992px) {
	.single-course-info,
	.courses-tags {
		width: 95vw;
	}
	.single-course-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
	}
	.info {
		padding-left: 3rem;
	}
}

/* Algolia Api customization */

.header {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	display: flex;
	justify-content: center;
	width: 100%;
}

.ais-SearchBox-input {
	min-width: 80vw !important;
	border: 1px solid var(--dark-color) !important;
	padding: 15px;
}

.ais-SearchBox-input:focus {
	outline: 1px solid var(--dark-color) !important;
}

.ais-SearchBox-submit {
	display: none;
}

.ais-SearchBox-reset {
	display: none;
}

.ais-SortBy-select {
	padding: 1em 2em;
}

main {
	width: 100%;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-gap: 1rem;
}

li {
	list-style-type: none;
}

.ais-Hits-list {
	padding: 0;
	margin: 0;
}

.ais-Hits-item {
	width: 33%;
}

.card {
	background-color: #f9f9f9;
	display: flex;
	width: 18rem;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.card-contents {
	margin-left: 20px;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: space-between;
}

.card-title {
	font-weight: bold;
}

.card-author,
.card-category {
	font-size: 15px;
}

.information {
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
	font-size: 11px;
}

a {
	text-decoration: none;
}

a:visited {
	color: var(--dark-color);
}

.ais-Pagination-list {
	display: flex;
	justify-content: center;
}

.ais-Pagination-item {
	margin: 5px;
}

@media screen and (min-width: 731px) and (max-width: 1024px) {
	.ais-Hits-item {
		width: 50%;
	}

	ul.ais-Pagination-list {
		margin: 0;
		padding: 0;
	}
}

@media screen and (min-width: 360px) and (max-width: 731px) {
	body {
		width: 100%;
		display: flex;
	}

	.search-bar {
		justify-content: center;
	}

	.ais-SearchBox-input {
		min-width: 250px;
		border: none;
		border-radius: 0.5em;
		padding: 15px;
	}

	.ais-Hits {
		display: flex;
		justify-content: center;
	}

	.ais-Hits-item {
		width: 90%;
	}

	.card {
		margin: 10px 0 10px 0;
	}

	main {
		justify-content: center;
	}

	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}

	ul.ais-Pagination-list {
		margin: 0;
		padding: 0;
	}
}
